body {
    display: flex;
    flex-direction: column;
    width: 1440px;
    background-color: #EDEDED;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

main {}
.rodape {
    width: 760px;
    display:flex;
    justify-content: center;
    height: 80px;
    color: #EAF2FD;
    background-color: #2A7AE4;
    align-items: center;

}


/* CABECALHO  */

.cabecalho__container {
    background-color: #EDEDED;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 88px;
    align-items: center;
    justify-content: space-around;


}

.btn {
    display: none;
}

/* HOME  */

.home__container {
    display: flex;
    gap: 20px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 60px;
}

.home__container__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;


}

.home__container__titulo {
    font-weight: 500;
    font-size: 40px;
}

.home__container__imagem {
    width: 362px;
    border-radius: 60%;
    margin-top: 100px;
}

.home__container__texto {
    width: 751px;
}

.sobre__mim__container {
    background-color: #EAF2FD;
    padding-top: 60px;
    padding-bottom: 100px;
}

/* SOBRE MIM  */

.sobre__mim__conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 32px;
    width: 751px;

}

.sobre__mim__titulo {
    font-size: 30px;
    font-weight: 400;
}
.sobre__mim__texto{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

/* SKILLS E HOBIES  */

.skills__container {
    background-color: #EDEDED;
    width: 780px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
    font-size: 50px;
    padding-bottom: 88px;

}

.skills__lista1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 20px;
    width: auto;


}


.skills__item {
    display: flex;
    Width: 224px;

    background-color: #ffffff;
    font-size: 15px;
}

.skill__imagem {
    display: flex;
    width: 25px;
    height: 25px;

}

.skill__conteudo {
    display: flex;
    flex-direction: column;
    padding-top: 94px;
    padding-left: 16px;
    padding-bottom: 15px;
    gap: 10px;
    font-weight: 700;
}

/* FORMACAO  */

.formacao__container {
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD;
    width: 800px;

    gap: 32px;
    padding-top: 82px;
    padding-bottom: 82px;
}

.formacao__titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
}


.formacao__container__lista {
    display: flex;
    padding-left: 16px;
    gap: 20px;
    flex-wrap: wrap;
    flex-shrink: 1;

}

.formacao__container__item__imagemquadro {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 224px;
    height: 169px;
    background-color: #ffffff;
}

.formacao__container__imagem {
    width: 84px;
    height: 58px;

}

.formacao__container__texto {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
    gap: 15px;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
}

.formacao__conteudo {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    font-size: 20px;
    font-weight: 800;
}

/* PROJETOS  */

.projetos__container {
    display: flex;
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 80px;

}

.projetos__container__item {
    display: flex;
    width: 706px;
    gap: 20px;

    flex-direction: column;


}

.projetos__container__item__conteudo {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.projetos__titulo {
    font-size: 20px;
    font-weight: 400;
}

.projetos__texto {
    font-size: 15px;
}

.botoes {
    display: flex;
    gap: 10px;
}

.repositorio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 51px;
    border: solid;
    border-color: #2A7AE4;
    color: #2A7AE4;

}

.demo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 51px;
    background-color: #2A7AE4;
    color: #ffffff;
    border: solid;
    border-color: #2A7AE4;
}

/* CONTATO  */

.contato__container {
    background-color: #EAF2FD;
    display: flex;
    padding-top: 60px;
    padding-bottom: 80px;


}
.contato__container__2{
    display:flex;
    align-items: center;
}

.contato__imagem {
    display: none;
}

.contato__conteudo {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 20px;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;

    font-size: 13px;
    font-weight: 500;

}
.contato__formulario{
    padding-bottom: 20px;
}

.contato__formulario__texto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    font-size: 13px;
}
.contato__titulo{
    font-size: 17px;
    font-weight: 500;
}

.contato__imagem {
    display: flex;
    justify-content: center;
    width: 200px;

}

.formulario__campos {
    display: flex;
}

.nome {
    width: 656px;
}

.enviar {
    width: 100%;
    height: 51px;
    background-color: #2A7AE4;
    color: #ffffff;
}



@media (min-width:600px) {

    /* CABECALHO  */

    .btn {
        display: flex;

    }
    .rodape{
        width: auto;

        
    }

    /* HOME  */

    .home__container {
        display: flex;
        padding-left: 152px;
        padding-right: 152px;
    }

    /* SOBRE MIM  */

    .sobre__mim__conteudo {
        padding-left: 100px;
    }

    /* SKILLS  */

    .skills__container {
        width: auto;
    }

    .skills__item {
        width: 176px;
    }

    /* FORMACAO  */

    .formacao__container__item__imagemquadro {
        width: 368px;
        height: 347px;
    }

    .formacao__container {
        display: flex;
        width: 1440px;
        justify-content: center;
        align-items: center;
    }

    .formacao__container__imagem {
        width: 192px;
        height: 130px;


    }

    /* PROJETOS  */

    .projetos__container__item {
        display: flex;
        flex-direction: row;
        width: 1136px;
        gap: 20px;
        align-items: center;


    }

    /* CONTATO  */

    .contato__imagem {
        display: block;

    }

    .contato__container {
        display:flex;
        justify-content: center;
    }
}

@media (max-width:430px) {
    
    /* CABECALHO  */
    
    .cabecalho__container {
        width: 400px;
    }

    /* HOME  */

    .home__container {

        display: flex;
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .home__container__imagem {
        width: 92px;
        margin-top: 150px;
    }

    .home__container__titulo {
        width: 350px;

    }

    .home__container__texto {
        width: 350px;
        flex-wrap: wrap;
    }

    /* SOBRE MIM  */

    .sobre__mim__conteudo {
        padding-left: 12px;
        width: 350px;
    }

    /* SKILLS  */

    .skills__container {
        width: 400px;

    }

    .skills__item {
        width: 156px;
    }

    /* FORMACAO  */

    .formacao__titulo {
        width: 400px;
        font-size: 25px;
    }

    .formacao__container {
        display: flex;
        width: 400px;

    }

    .formacao__container__lista {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .formacao__container__item__imagemquadro {
        width: 296px;
        height: 118px;
    }

    /* PROJETOS  */

    .projetos__container__item {
        width: 296px;
    }

    .projetos__container__imagem {
        width: 296px;
    }

    /* CONTATO  */

    .contato__container__2 {
        width: 296px;

    }
    .rodape{
        
            width: 400px;
    
            
        
    }

}